{% extends 'user/home.html' %}
{% block products %}

   {% endblock products %}

{% block bodyblock %}
<h1 class="text-center">Register</h1>
   
<div class="container">
 <div class="row">
   <div class="col-12 d-flex justify-content-center">
     <form method="POST" class="w-50">
       
       {% if  error_msg %}
         
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
         {{error_msg}}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       {% endif %}


       {% csrf_token %}
       <div class="mb-3">
         <label for="username" class="form-label">Username</label>
         <input type="text" class="form-control" id="username" name="username">
       </div>
       <div class="mb-3">
         <label for="password" class="form-label">Password</label>
         <input type="password" class="form-control" id="password" name="password">
       </div>
       <div class="mb-3">
         <label for="cpassword" class="form-label">Confirm Password</label>
         <input type="password" class="form-control" id="cpassword" name="cpassword">
       </div>
       <div class="mb-3">
         <label for="cpassword" class="form-label">Register me as</label>
         <select class="form-select" aria-label="Default select example" name="type">
          <option value="user">User</option>
          <option value="seller">Seller</option>
        </select>
       </div>
       <input type="submit" class="btn btn-primary w-100" value="Register">
       <p class="text-center mt-2">Already user? <a href="/login"> click <a> to login </p>
     </form>

   </div>
 </div>
</div>
{% endblock bodyblock %}